.moviePoster {
  height: 300px;
  width: 30%;
}

.movieDesc {
  color: antiquewhite;
}

.infoRow {
  margin-top: 5px;
}

.movieInfoBox {
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  display: inline;
}

.goBooking {
  background-color: #eae4cc;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 8px;
  height: 50px;
}

.goBooking:hover {
  background-color: #8b8a86;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}

.alignleft {
  float: left;
  width: 33.33333%;
  text-align: left;
}

.aligncenter {
  float: left;
  width: 33.33333%;
  text-align: center;
}

.alignright {
  float: left;
  width: 33.33333%;
  text-align: right;
}